header {
    #menu-nav{
        div{
            a {
                text-decoration: none;
                font-weight: $fontWeight;
                color: white;
                & :hover {
                    color: rgb(215, 215, 215);
                }
                .logo {
                    font-weight: 800;
                    color: white;
                    font-size: 1.6em;
                    cursor: pointer;
                    transition: 0.35s ease;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
            .navbar-toggler {
                background-color: #E5E5E5 ;
            }
        }
    }
}