@mixin title-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

@mixin fondo {
    background: rgb(2,0,36);
    background: $gradiente;
    box-shadow: $shadowBox;
    border-radius: 20px;
}