$fontSizeH1: clamp(2rem, 1.0774rem + 1.7836vw, 3.625rem);
$fontSizeH2: clamp(1.4em, 5vw, 2.4em);
$fontSizeH3: clamp(1.3em, 5vw, 2.2em);
$fontSizeH4: clamp(1em, 5vw, 1.3em);
$fontSizeP: clamp(1em, 5vw, 1.2em);
$fontWeight: bold;


$paletaColores1:#ffffff;
$paletaColores2: #676f9d;
$paletaColores3: #424769;
$paletaColores4: #2d3250;
$paletaColores5: #f9b17a;

