header {
    #menu-nav{
        box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
        div{
            a {
                text-decoration: none;
                font-weight: $fontWeight;
                color: $paletaColoresParrafos;
                & :hover {
                    color: rgb(215, 215, 215);
                }
                .logo {
                    font-weight: 800;
                    color: $paletaColoresParrafos;
                    font-size: 1.6em;
                    cursor: pointer;
                    transition: 0.35s ease;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
            .navbar-toggler {
                background-color: $paletaColoresParrafos ;
            }
        }
    }
}