@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@keyframes olas {
  0%, 100% {
    clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #2d3250;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin: 0;
  padding: 0;
}

header {
  background-color: #2d3250;
}

ol, ul {
  padding: 0;
}

header #menu-nav {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}
header #menu-nav div a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
header #menu-nav div a :hover {
  color: rgb(215, 215, 215);
}
header #menu-nav div a .logo {
  font-weight: 800;
  color: #ffffff;
  font-size: 1.6em;
  cursor: pointer;
  transition: 0.35s ease;
}
header #menu-nav div a .logo:hover {
  opacity: 0.5;
}
header #menu-nav div .navbar-toggler {
  background-color: #ffffff;
}

.hero {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10% 0 0 10%;
  height: 80vh;
  color: #ffffff;
  background-image: linear-gradient(331deg, rgba(0, 0, 0, 0.8) 0%, rgba(88, 88, 88, 0.8) 100%), url(../img/perfil-header1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}
.hero p {
  margin-bottom: -25px;
  font-size: clamp(1em, 5vw, 1.3em);
  text-align: left;
  color: #2d3250;
}
.hero h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(3.2rem, 7vw, 7rem);
  font-weight: 900;
  background: linear-gradient(141deg, rgb(26, 89, 102) 1%, rgb(45, 50, 80) 30%, rgb(2, 0, 36) 100%);
  margin-top: 10px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.hero .dev-h2 {
  display: flex;
}
.hero .dev-h2 h2 {
  background: linear-gradient(141deg, rgb(26, 89, 102) 15%, rgb(45, 50, 80) 72%, rgb(2, 0, 36) 100%);
  color: #ffffff;
  font-weight: bold;
  font-size: clamp(1rem, 5vw, 1rem);
  padding: 15px 8%;
  border-radius: 8px;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}
.hero .social_icons {
  display: flex;
  margin-top: 1em;
  gap: 30px;
}
.hero .social_icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.hero .social_icons .icon i {
  font-size: 30px;
  color: linear-gradient(141deg, rgb(26, 89, 102) 15%, rgb(45, 50, 80) 72%, rgb(2, 0, 36) 100%);
}

.container .quienSoy {
  padding: 70px 0;
  margin-top: 15%;
  margin-bottom: 35%;
  background: rgb(2, 0, 36);
  background: linear-gradient(141deg, rgb(26, 89, 102) 15%, rgb(45, 50, 80) 72%, rgb(2, 0, 36) 100%);
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.container .quienSoy .quienSoy-img {
  width: 75vw;
  max-width: 480px;
  min-width: 320px;
}
.container .quienSoy .quienSoy-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}
.container .quienSoy .quienSoy-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .quienSoy .quienSoy-text h2 {
  text-align: left;
  padding: 0 40px;
  font-size: clamp(1.4em, 5vw, 2.2em);
  color: #cc7d51;
  font-weight: bold;
}
.container .quienSoy .quienSoy-text p {
  text-align: justify;
  padding: 0 5px;
  font-size: clamp(1rem, 5vw, 1rem);
  color: #ffffff;
}

.info-me ul {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}
.info-me ul .info-me-style {
  color: #cc7d51;
  font-weight: 900;
  font-size: clamp(1em, 5vw, 1.3em);
  padding: 0.5rem;
  position: relative;
}
.info-me ul .info-me-style::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #cc7d51;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.6s ease;
  bottom: 0;
  left: 0;
}
.info-me ul .info-me-style:hover::before {
  transform: scaleX(1);
}

.fondo-info {
  background: rgb(2, 0, 36);
  background: linear-gradient(141deg, rgb(26, 89, 102) 15%, rgb(45, 50, 80) 72%, rgb(2, 0, 36) 100%);
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}

.container .bienvenido-title h2 {
  font-weight: bold;
  font-size: clamp(1.4em, 5vw, 2.2em);
  color: #000000;
  padding-bottom: 10px;
}
.container .bienvenido-text {
  display: flex;
  align-items: center;
}
.container .bienvenido-text h3 {
  font-weight: bold;
  font-size: clamp(1.3em, 5vw, 1.5em);
  color: #000000;
  padding-left: 50px;
  padding-top: 20px;
}
.container .bienvenido-content {
  padding-bottom: 30px;
}
.container .bienvenido-content p {
  text-align: justify;
  font-size: clamp(1rem, 5vw, 1rem);
  color: #ffffff;
  padding: 20px 15px;
}
.container .bienvenido-content p span {
  font-weight: bold;
  color: #000000;
}

.caja-info {
  display: flex;
  justify-content: center;
  margin: 150px 0;
}
.caja-info .contenedor-album {
  background: rgb(2, 0, 36);
  background: linear-gradient(141deg, rgb(26, 89, 102) 15%, rgb(45, 50, 80) 72%, rgb(2, 0, 36) 100%);
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 15px;
  text-align: justify;
  margin: 0 20px;
}
.caja-info .contenedor-album .contenedor-album__text {
  margin: 30px 0;
  line-height: 2;
}
.caja-info .contenedor-album .contenedor-album__text h2 {
  font-weight: 900;
  font-size: clamp(1.4em, 5vw, 2.2em);
  color: #000000;
  text-align: center;
  text-shadow: 0px 10px 7px rgba(204, 125, 81, 0.8);
}
.caja-info .contenedor-album .contenedor-album__text h3 {
  font-weight: bold;
  font-size: clamp(1em, 5vw, 1.3em);
  color: #ffffff;
}
.caja-info .contenedor-album .contenedor-album__text h4 {
  font-size: clamp(1em, 5vw, 1.3em);
  color: #ffffff;
}
.caja-info .contenedor-album .contenedor-album__text p {
  font-size: clamp(1rem, 5vw, 1rem);
  color: #ffffff;
}
.caja-info .contenedor-album .contenedor-album__text .skills-icon {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}
.caja-info .contenedor-album .contenedor-album__text .skills-icon li {
  font-size: 5.5em;
  color: #cc7d51;
  text-align: center;
  line-height: 1.2;
}
.caja-info .contenedor-album .contenedor-album__text .skills-icon li h3 {
  font-size: 1.5rem;
  color: #cc7d51;
  font-weight: bold;
}

.voluntariado {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 40px 0 0;
}
.voluntariado h1 {
  font-size: clamp(2rem, 1.0774rem + 1.7836vw, 3.625rem);
  font-weight: 800;
  color: #cc7d51;
  margin: 0;
}
.voluntariado hr {
  height: 7px;
  width: 35%;
  margin-top: 1px;
  margin-bottom: 20px;
  background-color: #cc7d51;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}
.voluntariado h2 {
  font-size: clamp(1.3em, 5vw, 1.5em);
  padding: 0 10% 25px;
  color: #ffffff;
}

.caja-blog {
  margin: 100px 10px 200px 10px;
}
.caja-blog .container {
  width: 100%;
  max-width: 1000px;
}
.caja-blog .container div {
  margin: 15px 0;
}
.caja-blog .container div div .card-header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 !important;
  background: rgb(2, 0, 36);
  background: linear-gradient(141deg, rgb(26, 89, 102) 15%, rgb(45, 50, 80) 72%, rgb(2, 0, 36) 100%);
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border-radius: 14px !important;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.caja-blog .container div div .card-header:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}
.caja-blog .container div div .card-header .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  text-align: justify;
}
.caja-blog .container div div .card-header .card-body .card-title {
  font-weight: bold;
  margin-bottom: 15px;
  color: #cc7d51;
}
.caja-blog .container div div .card-header .card-body .card-text {
  line-height: 2;
  font-size: clamp(1rem, 5vw, 1rem);
  color: #ffffff;
}
.caja-blog .container div div .card-header .card-body .boton-card {
  display: flex;
  justify-content: center;
}
.caja-blog .container div div .card-header .card-body .boton-card a {
  padding: 10px;
  margin-top: 10px;
  color: black;
  border: 1px solid #2B556C;
  border-radius: 4px;
  transition: all 400ms ease;
}
.caja-blog .container div div .card-header .card-body .boton-card a:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(141deg, rgb(26, 89, 102) 15%, rgb(45, 50, 80) 72%, rgb(2, 0, 36) 100%);
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.caja-blog .container div div .card-header .card-body .boton-card .btn {
  width: 50%;
  background-color: #cc7d51;
  display: block;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-radius: 20px;
}

.flex-galeria, .carrusel-gallery h2, .flex-galeria h2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.flex-galeria h2, .carrusel-gallery h2 h2 {
  margin-top: 100px;
  font-size: clamp(1.4em, 5vw, 2.2em);
  font-weight: 900;
  background: #CC7D51;
  background: linear-gradient(to bottom, #CC7D51 30%, #111E2D 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flex-galeria .contenedor, .carrusel-gallery h2 .contenedor {
  max-width: 1400px;
  display: grid;
  margin: 0 50px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 450px;
  gap: 25px;
  padding: 100px 0 0;
}
.flex-galeria .contenedor .contenedor-img .gallery-img, .carrusel-gallery h2 .contenedor .contenedor-img .gallery-img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
}
.flex-galeria .contenedor .contenedor-img .gallery-img:hover, .carrusel-gallery h2 .contenedor .contenedor-img .gallery-img:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.2);
}
.flex-galeria .contenedor .contenedor-img:nth-child(2), .carrusel-gallery h2 .contenedor .contenedor-img:nth-child(2) {
  grid-column-start: span 3;
  grid-row-start: span 2;
}
.flex-galeria .contenedor .contenedor-img:nth-child(4), .carrusel-gallery h2 .contenedor .contenedor-img:nth-child(4) {
  grid-column-start: span 1;
}
.flex-galeria .contenedor .contenedor-img:nth-child(8), .carrusel-gallery h2 .contenedor .contenedor-img:nth-child(8) {
  grid-column-start: span 2;
}
.flex-galeria .contenedor .contenedor-img:nth-child(5), .carrusel-gallery h2 .contenedor .contenedor-img:nth-child(5) {
  grid-row-start: span 1;
}
.flex-galeria .contenedor .contenedor-img:nth-child(9), .carrusel-gallery h2 .contenedor .contenedor-img:nth-child(9) {
  grid-column-start: span 4;
}

.carrusel-gallery {
  margin: 0 30px;
}
.carrusel-gallery h2 {
  margin-top: 100px;
  font-size: clamp(1.4em, 5vw, 2.2em);
  font-weight: 900;
  background: #CC7D51;
  background: linear-gradient(to bottom, #CC7D51 30%, #111E2D 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carrusel-gallery .carrusel {
  display: flex;
  justify-content: center;
  padding: 75px 0 200px;
  margin: auto;
  max-width: 1440px;
}
.carrusel-gallery .carrusel .gallery-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 70vh;
}
.carrusel-gallery .carrusel .gallery-wrap .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  border: 1px solid;
  border-radius: 16px;
  margin: 0 5px 0 5px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  transition: flex 1s ease-in-out;
}
.carrusel-gallery .carrusel .gallery-wrap .item:hover {
  flex: 5;
}
.carrusel-gallery .carrusel .gallery-wrap .item-1 {
  background-image: url("../img/galeria/capitolio.webp");
}
.carrusel-gallery .carrusel .gallery-wrap .item-2 {
  background-image: url("../img/galeria/liberty-state.webp");
}
.carrusel-gallery .carrusel .gallery-wrap .item-3 {
  background-image: url("../img/galeria/camboriu.webp");
}
.carrusel-gallery .carrusel .gallery-wrap .item-4 {
  background-image: url("../img/galeria/camboriu-night.webp");
}
.carrusel-gallery .carrusel .gallery-wrap .item-5 {
  background-image: url("../img/galeria/bridge-posadas.webp");
}

.fondo-info .text-contact h2 {
  font-size: clamp(1.4em, 5vw, 2.2em);
  font-weight: bold;
  color: #000000;
  padding-top: 30px;
}
.fondo-info .text-contact p {
  font-size: 1.2rem;
  padding: 1.2rem 1rem;
  color: #fff;
  text-align: justify;
}
.fondo-info .text-contact p span {
  font-weight: bold;
  color: #000000;
}
.fondo-info .text-contact .text-thanks {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: #000000;
  font-weight: bold;
}

.caja-contact {
  background: #2f3767;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5), 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
  margin: 200px 8%;
  background-image: linear-gradient(212deg, rgba(26, 89, 102, 0.8) 36%, rgba(45, 50, 80, 0.8) 78%, rgba(2, 0, 36, 0.8) 100%), url(../img/fondo-contact.webp);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.caja-contact .mailCel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.caja-contact .mailCel ul li {
  color: #000000;
}
.caja-contact .mailCel ul li i {
  font-size: 2rem;
  padding: 20px 0;
}
.caja-contact .mailCel ul li p {
  font-size: clamp(1em, 5vw, 1.3em);
  font-weight: bold;
}
.caja-contact .form-group {
  padding: 80px 50px 25px 50px;
}
.caja-contact .form-group .input-group {
  font-size: 1.25rem;
  position: relative;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}
.caja-contact .form-group .input-group .input, .caja-contact .form-group .input-group .input-mjs {
  all: unset;
  color: #cc7d51;
  padding: 1rem;
  width: 100%;
  border: 2px solid #cc7d51;
  border-radius: 10px !important;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.caja-contact .form-group .input-group .input:focus, .caja-contact .form-group .input-group .input-mjs:focus {
  border: 2px solid;
}
.caja-contact .form-group .input-group .input:is(:focus, :valid) ~ .label, .caja-contact .form-group .input-group .input-mjs:is(:focus, :valid) ~ .label {
  transform: translateY(-145%) scale(0.9);
  background-color: transparent;
  padding-inline: 0.3rem;
  color: #cc7d51;
}
.caja-contact .form-group .input-group .input-mjs {
  height: 100px;
  text-align: start;
}
.caja-contact .form-group .input-group .label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #cc7d51;
  font-weight: bold;
  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.caja-contact .form-group .btn-contact {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.caja-contact .form-group .btn-contact a .btn-style {
  width: 20vh;
  background-color: #0E0E1A;
  color: white;
  transition: 0.6s;
  box-shadow: 0px 0px 60px hsl(232, 85%, 100%);
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
.caja-contact .form-group .btn-contact a .btn-style:active {
  scale: 0.92;
}
.caja-contact .form-group .btn-contact a .btn-style:hover {
  color: #040426;
  background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
}

footer {
  background-color: #424769;
  position: relative;
  width: 100%;
  background: #111e2d;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer div .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: #2d3250 url(../img/wave-color.png);
  background-size: 1000px 100px;
}
footer div #wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer div #wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer div #wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer div #wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}
footer .social-icon, footer .menu-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .social-icon li a, footer .menu-footer li a {
  font-size: 2.3em;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social-icon li a:hover, footer .menu-footer li a:hover {
  transform: translateY(-10px);
}
footer .menu-footer li a {
  font-size: 1em;
  font-weight: bold;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu-footer li a:hover {
  opacity: 1;
}
footer .copy-footer {
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  font-size: 0.8em;
}

@media (max-width: 1200px) {
  .quienSoy {
    justify-content: center;
    margin: 0 30px;
  }
  .quienSoy .quienSoy-img {
    padding-bottom: 40px;
  }
  .quienSoy .quienSoy-text h2 {
    text-align: center !important;
  }
  .caja-info {
    padding: 30px;
  }
  .flex-galeria .contenedor, .carrusel-gallery h2 .contenedor {
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
  }
  .flex-galeria .contenedor .contenedor-img:nth-child(1), .carrusel-gallery h2 .contenedor .contenedor-img:nth-child(1) {
    grid-column-start: span 2;
  }
  .flex-galeria .contenedor .contenedor-img:nth-child(2), .carrusel-gallery h2 .contenedor .contenedor-img:nth-child(2) {
    grid-column-start: span 1;
  }
  .flex-galeria .contenedor .contenedor-img:nth-child(8), .carrusel-gallery h2 .contenedor .contenedor-img:nth-child(8) {
    grid-column-start: span 1;
  }
  .flex-galeria .contenedor .contenedor-img:nth-child(9), .carrusel-gallery h2 .contenedor .contenedor-img:nth-child(9) {
    grid-column-start: span 2;
  }
}
@media (max-width: 992px) {
  .caja-contact .mailCel {
    padding-top: 30px;
  }
  .caja-blog .container {
    max-width: 650px;
  }
  .contenedor {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .contenedor {
    grid-template-columns: repeat(1fr);
    max-width: 600px;
  }
  .contenedor {
    margin: 0 50px;
  }
  .contenedor .gallery-img:hover {
    transform: translate(3%);
  }
  .container .quienSoy .quienSoy-img {
    padding: 0 35px 40px;
  }
  .menu-footer {
    flex-wrap: nowrap;
  }
  .info-me ul .info-me-style {
    font-size: 13px;
    padding: 3px;
  }
  .carrusel-gallery .carrusel .gallery-wrap {
    flex-direction: column;
  }
  .carrusel-gallery .carrusel .gallery-wrap .item {
    margin: 5px 0 5px 0;
  }
  .hero .social_icons {
    gap: 20px;
  }
  .hero .social_icons .icon {
    width: 40px;
    height: 40px;
  }
  .hero .social_icons .icon i {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
