@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(40, 40, 40);
}

.conteiner {
    max-width: 1400px;
    margin: auto;
}

.logo {
    font-weight: 800;
    color: white;
    font-size: 1.6em;
    cursor: pointer;
}

.ancho {
    width: 10vh;
}

.navbar-toggler {
    background-color: rgb(215, 215, 215);
}

header .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_conteiner {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

#menu-nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#menu-nav a:hover {
    color: rgb(215, 215, 215);
}

.titulo_album {
    display: flex;
    justify-content: center;
}

.menu_album {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 25px;
    font-size: 1.4rem;
    font-weight: bold;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/Retrato.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    font-size: 2em;
    color: white;
}

.developer {
    font-size: 1em;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(246, 225, 32);
    padding: 3px 75px;
    color: black;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(246, 225, 32, 0.5);
}

.developer h2 {
    font-size: 1em;
}

.nicolas {
    font-size: 2.3em;
}

main {
    background-color: rgb(229, 229, 229);
}

#hello .conteiner {
    text-align: center;
    padding: 200px 12px;

}

#hello h2 {
    margin-top: 0;
    font-size: 1em;
    text-align: justify;
}

#hello h2 .hello {
    margin-top: 0px;
    font-size: 1.5em;
    font-weight: 800;
}

#hello .hello-text {
    padding: 100px 100px;
}


footer {
    background-color: rgb(40, 40, 40);
}

.conteiner_buttons {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner_buttons a {
    padding: 30px;
}

.conteiner_buttons i {
    font-size: 35px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #2B556C;
    color: #282828;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, rgba(0, 0, 0, 0.5));
    transition: all .4s ease-in-out;
}

.conteiner_buttons i:hover {
    transform: scale(1.3);
}

footer p {
    padding: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.servicio-fila {
    text-align: center;
    width: 100%;
    max-width: 1100px;
}

.btn {
    width: 250px;
}

.card-blog {
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card-blog:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translate(-3%);
}

.img-voluntariado {
    height: 350px;
}

.contenido {
    padding: 15px;
    text-align: center;
}

.contenido p {
    line-height: 1.5;
    color: #6a6a6a;
}

.contenido h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.boton-card a {
    padding: 10px;
    margin-top: 10px;
    color: black;
    border: 1px solid #2B556C;
    border-radius: 4px;
    transition: all 400ms ease;
}

.boton-card a:hover {
    background: #2B556C;
    color: #fff;
}

@media (max-width: 768px) {
    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }

    .img-voluntariado {
        height: 300px;
    }

    .btn {
        width: 200px;
    }

    .conteiner_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }

    .nav_conteiner {
        display: flex;
        flex-direction: row;
        padding: 25px;
    }

    #hero {
        display: flex;
        align-items: baseline;
    }

    #hero .rectangulo {
        background-color: rgb(0, 0, 0);
        height: 100%;
        width: 30%;
        top: 80px;
        left: 0;
    }

    .conteiner_name {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        position: absolute;
        left: 20%;
    }

    .conteiner-main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #hello .hello-text {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    #hello img {
        width: 400px;
        border-radius: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .grid_conteiner {
        display: grid;
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }

    .header_area {
        grid-area: header;
    }

    .main_area {
        grid-area: main;
    }

    .footer_area {
        grid-area: footer;
    }
}

@media(max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .img-voluntariado {
        height: 250px;
    }

    .btn {
        width: 150px;
    }
}