* {
    border: 1px solid black;
    padding: 5px;
    font-size: 10px;
}

.conteinerGrid {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    background-color: tomato;
    padding: 5px;
    height: 5vh;
}

main {
    background-color: lightblue;
    height: 80vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumslateblue;
    height: 15vh;

}